html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #4d2323;
}
.shap1 {
    width: 70%;
    min-height: 150px;
    background: #ccc;
    float: left;
}
.shap2{
    width: 30%;
    min-height: 150px;
    background: #c00;
    margin-left: 70%;
}
