html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    color: #4d2323;
    background: #AFEEEE;
}

.shap1 {
    width: 50%;
    height: 150px;
    float: left;
}
.shap2{
    width: 50%;
    height: 150px;
    margin-left: 50%;
}
